main{

}

.blog-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(412px , 1fr))
}
.post{
    border: 1px solid black;
    width: 100px;
    height: 100px;

}

img{
    width: 100%;
}